{erl_opts, [debug_info]}.

{deps, [
    {patchbay, {git, "https://github.com/takeiteasy/patchbay.git", {branch, "trunk"}}},
    {lasso, {git, "https://github.com/takeiteasy/lasso.git", {branch, "trunk"}}},
    {lfe, "~> 2.0"}
]}.

{project_plugins, [
    {rebar3_lfe, "~> 0.5"}
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{profiles, [
    {test, [
        {deps, [
            {ltest, "~> 0.13"}
        ]},
        {eunit_opts, [verbose]},
        {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
]}.

{alias, [
    {ltest, [compile, {lfe, ltest}]}
]}.
